body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.stopwatch {
  height: 30%;
  width: 85%;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
}

.display {
  font-size: 2rem;
  margin-bottom: 2rem;
}

button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
